{% extends "base.html" %}
{% block body %}
    <body class="grafico">
    <main class="container">
        <div class="header">
            <h2>Reportes</h2>
        </div>
        <section class="report row align-items-center justify-content-center">
            <div class="col-sm-10">
                <h4>Grafico de Resultados</h4>
                <form class="reportesform" id="reportes-form" method="post">
                    {{ form.hidden_tag() }}

                    <div class="row align-items-center label">
                        <label for="tipo-combustible" class="col-sm-2 col-form-label">{{ form.punto_control.label }}</label>
                        <div class="col-sm-4">
                            {{ form.punto_control(class_="custom-select")}}
                        </div>
                    </div>
                    <div class="row align-items-center label">
                        <div class="col-sm-2">
                            <label for="fecha_inicio">{{ form.fecha_inicio.label }}</label>
                        </div>
                        <div class="col-sm-4">
                            {{ form.fecha_inicio(class_="datepicker")}}
                            {% for error in form.fecha_inicio.errors %}
                                <div class="alert alert-danger" role="alert">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-1">
                            <label for="fecha_fin">{{ form.fecha_fin.label }}</label>
                        </div>
                        <div class="col-sm-4">
                            {{ form.fecha_fin(class_="datepicker")}}
                            {% for error in form.fecha_fin.errors %}
                                <div class="alert alert-danger" role="alert">[{{ error }}]</div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-2">
                            <button href={{ form.submit(class_="btn btn-success", id="button_submit" ) }} Buscar <i class="fas fa-search-plus"></i></button>
                        </div>
                    </div>
                </form>
                <div class="elementoschart" id="indices">
                    <div class="row justify-content-star">
                        <div class="col-sm-12">
                            <canvas id="elementos_Chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="indiceschart" id="indices">
                    <div class="col-sm-12">
                        <canvas id="indices_Chart"></canvas>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        $('#fecha_inicio').datepicker({
            uiLibrary: 'bootstrap4'
        });

        $('#fecha_fin').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>
    </body>
    <script src="{{ url_for('static', filename='vendor/js/chartjs.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/grafico_elementos.js') }}" type="text/javascript"></script>
{% endblock %}

