{% extends "base.html" %}
{% block body %}
<body class="rcontrol">
    <main class="container">
        <div class="header">
            <h2>Edición de Responsable de Control</h2>
        </div>
        <section class="report row align-items-center justify-content-center">
            <div class="col-sm-10">
                <div class="ResponsableControl-Form">
                    <h4>Responsable de Control en el Sistema</h4>
                    <div class="container">
                        <form action="" method="post">
                            <div class="row justify-content-star">
                                <div class="col-sm-12">
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                <a href="{{ url_for('rcontrol_create') }}">
                                                    <button type="button" class="btn btn-success">Agregar Responsable de Control <span><i class="fas fa-address-card" ></i></span></button></a>
                                                </div>
                                            </div>
                                        {% for rcontrol in rescontrol %}
                                            <div class="form-group row">
                                                <div class="col-sm-8">
                                                    <div>Responsable de Control: {{ rcontrol.name }}</div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <a href="{{ url_for('rcontrol_edit', rcontrol_id=rcontrol.id) }}">
                                                        <button type="button" class="btn btn-primary">Editar <span><i class="fa fa-edit" ></i></span></button></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}


