{% extends "base.html" %}
{% block body %}
    <main class="container">
        <div class="header">
            <h2>Puntos de Control</h2>
        </div>

        <section class="report row align-items-center justify-content-center">
            <div class="col-sm-10">
                <div class="Laboratoristas-Form">
                    <h4>Puntos de Control en el Sistema</h4>
                    <div class="container">
                        <form action="" method="post">
                            <div class="row justify-content-star">
                                <div class="col-sm-12">
                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">{{ form.name.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.name(size=32, class_="form-control") }}
                                            {% for error in form.name.errors %}
                                                <span class="alert alert-danger col-sm-8" role="alert">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">{{ form.region_id.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.region_id(class_='custom-select', id='punto-control')}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="tipo-combustible" class="col-sm-3 col-form-label">{{ form.tipo_de_red_id.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.tipo_de_red_id(class_="custom-select", id='punto-control')}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">{{ form.tramo_id.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.tramo_id(class_='custom-select', id='punto-control')}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputText" class="col-sm-3 col-form-label">{{ form.descripcion.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.descripcion(size=32, class_="form-control") }}
                                            {% for error in form.descripcion.errors %}
                                                <span class="alert alert-danger col-sm-8" role="alert">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {{ form.hidden_tag() }}
                                    <button href={{ form.submit(class_="btn btn-primary")}} Editar Puntos de Control <i class="fas fa-edit"></i></button>
                                    {% if edited_punto_control %}
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                            Eliminar <span><i class="fa fa-times"></i></span>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Punto de Control</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ¿Esta seguro que desea eliminar Punto de Control?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                    <a href="{{ url_for('pcontrol_delete', pcontrol_id=edited_punto_control.id) }}">
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


