<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body class="login-form">
<main class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alerts">
                {% for message in messages %}
                    <div class="row justify-content-center">
                        <div class="column-sm-6 alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <section class="login-info row align-items-center justify-content-between">
        <div class="col">
            <div class="login-form">
                <h2>Bienvenido, Administrador</h2>
                <form action="" method="post">
                    <div class="form-group">
                        {{ form.ad_username.label }}
                        {{ form.ad_username(class_="form-control", size=32) }}
                        {% for error in form.ad_username.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.ad_password.label }}
                        {{ form.ad_password(size=32, class_="form-control") }}
                        {% for error in form.ad_password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.remember_me.label(class_="form-check-label") }}
                        {{ form.remember_me(class_="form-check-input", class="col-sm-1") }}
                    </div>

                    <div class="form-group">
                    {{ form.hidden_tag() }}
                    {{ form.submit(class_="btn btn-primary") }}
                    </div>
                </form>
            </div>
                    <div class="form-group">
                        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Creacion de cuentas</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{{ url_for('register') }}">Nuevo Usuario</a>
                                            <a class="dropdown-item" href="{{ url_for('register') }}">Nuevo Administrador</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
        </div>
    </section>
</main>
</body>
</html>